﻿@model IEnumerable<string>

<div data-role="navbar">
    <ul>
        @foreach (var link in Model)
        {
            <li>
                @Html.RouteLink(link, MVC.Product.List(link), new { data_transition = "fade", @class = (link == ViewBag.SelectedCategory ? "ui-btn-active" : null)})
            </li>
        }
    </ul>
</div>
