﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/bootstrap.css" rel="stylesheet"/>
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>
        <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
        <title>@ViewBag.Title</title>
        <style>
            .navbar-right {
                float: right !important;
                margin-right: 15px;
                margin-left: 15px;
            }
        </style>
        <meta name="description" content="The description of my page" />
</head>
    <body>
        <div class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="#">
                <span class="hidden-xs">SPORTS STORE</span>
                <div class="visible-xs">SPORTS</div>
                <div class="visible-xs">STORE</div>
            </a>
            @Html.Action(MVC.Cart.Summary())
        </div>
        <div class="visible-xs">
            @Html.Action(MVC.Navigation.Menu(null, true))
        </div>
        <div class="row panel">
            <div class="col-sm-3 hidden-xs">
                @Html.Action(MVC.Navigation.Menu())
            </div>
            <div class="col-xs-12 col-sm-8">
                @RenderBody()
            </div>
        </div>
    </body>
</html>