﻿@model SportStore.WebUi.Models.LoginViewModel

@{
    ViewBag.Title = "Admin: Log In";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Log In</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Please log in to access the administration area</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>User Name:</label>
                @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Password:</label>
                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            </div>
            <input type="submit" value="Log in" class="btn btn-primary" />
        }
    </div>
</div>